In [2]:
from sklearn import preprocessing, linear_model
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
plt.rcParams['font.family']='SimHei' #⿊體

In [3]:
df2=pd.read_csv("weather.csv",encoding="utf-8") #鐵達尼
df3=df2[['outlook', 'temperature', 'humidity', 'windy', 'play']]                   
df3.head()

    outlook  temperature  humidity  windy play
0     sunny           85        85  False   no
1     sunny           80        90   True   no
2  overcast           83        86  False  yes
3     rainy           70        96  False  yes
4     rainy           68        80  False  yes

In [7]:
# 創造 dummy variables （假資料）  將windy outlook轉換成 0，1
label_encoder = preprocessing.LabelEncoder()
encoded_windy = label_encoder.fit_transform(df3["windy"])
df3["windy"]=encoded_windy 
encoded_outlook = label_encoder.fit_transform(df3["outlook"])
df3["outlook"]=encoded_outlook
df3.head()

   outlook  temperature  humidity  windy play
0        2           85        85      0   no
1        2           80        90      1   no
2        0           83        86      0  yes
3        1           70        96      0  yes
4        1           68        80      0  yes